BurcYorumlayıcı/Connected Services/ServiceBurc/BurcServis.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BurcServis" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53462/BurcServis.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53462/BurcServis.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53462/BurcServis.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBurcServis_BurcYorumuGetir_InputMessage">
    <wsdl:part name="parameters" element="tns:BurcYorumuGetir" />
  </wsdl:message>
  <wsdl:message name="IBurcServis_BurcYorumuGetir_OutputMessage">
    <wsdl:part name="parameters" element="tns:BurcYorumuGetirResponse" />
  </wsdl:message>
  <wsdl:message name="IBurcServis_BurcGezegeniGetir_InputMessage">
    <wsdl:part name="parameters" element="tns:BurcGezegeniGetir" />
  </wsdl:message>
  <wsdl:message name="IBurcServis_BurcGezegeniGetir_OutputMessage">
    <wsdl:part name="parameters" element="tns:BurcGezegeniGetirResponse" />
  </wsdl:message>
  <wsdl:message name="IBurcServis_BurclarGetir_InputMessage">
    <wsdl:part name="parameters" element="tns:BurclarGetir" />
  </wsdl:message>
  <wsdl:message name="IBurcServis_BurclarGetir_OutputMessage">
    <wsdl:part name="parameters" element="tns:BurclarGetirResponse" />
  </wsdl:message>
  <wsdl:portType name="IBurcServis">
    <wsdl:operation name="BurcYorumuGetir">
      <wsdl:input wsaw:Action="http://tempuri.org/IBurcServis/BurcYorumuGetir" message="tns:IBurcServis_BurcYorumuGetir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBurcServis/BurcYorumuGetirResponse" message="tns:IBurcServis_BurcYorumuGetir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BurcGezegeniGetir">
      <wsdl:input wsaw:Action="http://tempuri.org/IBurcServis/BurcGezegeniGetir" message="tns:IBurcServis_BurcGezegeniGetir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBurcServis/BurcGezegeniGetirResponse" message="tns:IBurcServis_BurcGezegeniGetir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BurclarGetir">
      <wsdl:input wsaw:Action="http://tempuri.org/IBurcServis/BurclarGetir" message="tns:IBurcServis_BurclarGetir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBurcServis/BurclarGetirResponse" message="tns:IBurcServis_BurclarGetir_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBurcServis" type="tns:IBurcServis">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BurcYorumuGetir">
      <soap:operation soapAction="http://tempuri.org/IBurcServis/BurcYorumuGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BurcGezegeniGetir">
      <soap:operation soapAction="http://tempuri.org/IBurcServis/BurcGezegeniGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BurclarGetir">
      <soap:operation soapAction="http://tempuri.org/IBurcServis/BurclarGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BurcServis">
    <wsdl:port name="BasicHttpBinding_IBurcServis" binding="tns:BasicHttpBinding_IBurcServis">
      <soap:address location="http://localhost:53462/BurcServis.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>